.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1% 0px 5% 10%;
    margin-top: 20px;

    &__head{
        display: flex;

        h1{
            width: 100%;
            margin: 0;
            font-weight: 600;
            font-size: 25px;
        }

        button {
            height: 40px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: none;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            transition: all ease 0.2s;
            box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.1);
            background-color: #005c57;
            color: white;

            &:disabled {
            color: rgb(105, 104, 104);
            background-color: rgb(223, 220, 220);
            cursor: not-allowed;
            transform: scale(1.0);
            }
        }
    }

    &__box{
        gap: 20px;
        display: flex;
        flex-direction: column;

        &__users, &__admin{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            &__head{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            h4{
                font-weight: 600;
                margin: 0;
            }

            .loaded{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }

   
}