<aside>
    <div class="user-address">
        <img class="user-address__img" src="../../../assets/images/short-icon.png" alt="">
        <div class="user-address__info">
            <h1>User Address</h1>
        </div>
    </div>

    <nav class="navigation">
        <ul>

            <dl 
            class="navigation__home"
            routerLink="/home/dashboard"
            (click)="selectItem('dashboard')"
            [ngClass]="{'selected': selectedItem == 'dashboard'}">
                <img src="../../../assets/images/home.png" alt="">
                <h4>Painel</h4>
            </dl>

            <dl 
            class="navigation__users" 
            *ngIf="user.role == 'ADMIN'"
            routerLink="/home/users"
            (click)="selectItem('users')"
            [ngClass]="{'selected': selectedItem === 'users'}">
                <img src="../../../assets/images/users.png" alt="">
                <h4>Usuários</h4>
            </dl>

             <dl 
            class="navigation__addresses" 
            routerLink="/home/addresses"
            (click)="selectItem('addresses')"
            [ngClass]="{'selected': selectedItem === 'address'}">
                <img src="../../../assets/images/address.png" alt="">
                <h4>Endereços</h4>
            </dl>

        </ul>

    </nav>
</aside>