.container{
    height: 95%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    padding: 0px 0px 0px 10%;
    margin-top: 20px;

    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        h1{
            margin: 0;
            font-weight: 600;
            font-size: 25px;
        }
    }

    .loaded, .loading{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .loading{
        overflow-y: hidden;
    }
}