<div class="container">
  <div class="container__head">
    <h1>Usuários:</h1>
    <app-sort-users 
    (sortChange)="loadUsers($event)"></app-sort-users>
  </div>
  
  <div
  class="loaded"
  *ngIf="!isLoading">
    <p *ngIf="users.length == 0">Nenhum Usuário cadastrado!</p>

    <app-strip
    *ngFor="let user of users"
    [user]="user"
    (deleteUser)="onDeleteUser($event)"
    (editUser)="changeEditUser($event)"
    ></app-strip>
  </div>

  <div
  class="loading"
  *ngIf="isLoading">
    <ngx-skeleton-loader
    *ngFor="let i of [1,2,3,4]"
    appearance="line"
    animation="progress"
    [theme]="{ 
        width: '100%', 
        'height': '150px',
        'border-radius': '20px',
        'background-color': '#dbdbdb'}">
    </ngx-skeleton-loader>
  </div>
</div>

<app-pagination
*ngIf="!isLoading"
[totalPages]="totalPages"
[currentPage]="currentPage"
(pageChange)="handlePageChange($event)">
</app-pagination>

<app-pop-up-edit
*ngIf="editUser && showPopUpEdit"
[user]="editUser"
(closePopUp)="changeShowPopUpEdit()"
(saveUpdate)="onEditUser($event)"
></app-pop-up-edit>
