<div class="sort-container">
  <label for="sortBy" class="sort-label">Ordenar por:</label>

  <div class="select-container">
    <select id="sortBy" (change)="changeSort($event)">
        <option value="state">Estado</option>
        <option value="city">Cidade</option>
        <option value="zipCode">CEP</option>
        <option value="createdAt">Data de Criação</option>
    </select>
    <button (click)="toggleDirection()" class="direction-button">
      <span>{{ sortDir === 'asc' ? 'A-Z / Crescente' : 'Z-A / Decrescente' }}</span>
    </button>
  </div>
</div>